<div class="row">
  <div>
    <h2>Como crear su avatar</h2>
  </div>
  <table class="ayuda">
    <tr>
      <td>1.-</td>
      <td>Gravatar.com</td>
      <td>Haga click en el siguiente link: <a href="https://en.gravatar.com/">Gravatar.com</a> para ir al sitio de Gravatar.</td>
    </tr>
    <tr>
      <td>2.-</td>
      <td>Crear cuenta</td>
      <td>Una vez en el sitio de Gravatar haga click en el botón que dice [Create Your Own Gravatar].</td>
    </tr>
    <tr>
      <td>3.-</td>
      <td>Proporcione sus datos</td>
      <td>Escriba el correo electrónico que utiliza con esta aplicación en el campo 'E-mail Address'. <br>A continuación escriba un nombre de usuario mayor de 4 caractéres, incluyendo números y letras en el campo 'Username', este será su nombre de usuario para Gravatar.com.<br> Ahora escriba una clave contraseña de su elección en el campo 'Password'. </td>
    </tr>
    <tr>
      <td>4.-</td>
      <td>Crear cuenta</td>
      <td>Por último haga click en el botón [Sign up ->] para acceder a la aplicación.</td>
    </tr>
    <tr>
      <td>5.-</td>
      <td>Correo de confirmación</td>
      <td>Recibirá un correo de confirmación por parte de Worpress.com con una liga para acceder a su cuenta de gravatar, esta es un botón que dice: [Activate Account], haga click en este botón.</td>
    </tr>
    <tr>
      <td>6.-</td>
      <td>Sign up to gravatar</td>
      <td>El link anterior lo llevará a un sitio donde podrá encontrar un botón que dice [Sign up to Gravatar] o [Iniciar sesión en Gravatar] haga click sobre este.</td>
    </tr>
    <tr>
      <td>7.-</td>
      <td>Entrar en la aplicación</td>
      <td>Proporcione los datos que introdujo en el paso 3.</td>
    </tr>
    <tr>
      <td>8.-</td>
      <td>Añadir foto</td>
      <td>Aparecerá un mensaje diciendo que no tiene definida ninguna imagen para su correo electrónico, haga click en el link que dice 'Añadir uno haciendo click aquí'.</td>
    </tr>
    <tr>
      <td>9.-</td>
      <td>Cargar imagen</td>
      <td>Haga click en el cuadro que dice 'Cargar nuevo' con una imagen de un folder.</td>
    </tr>
    <tr>
      <td>10.-</td>
      <td>Añadir una imagen nueva</td>
      <td>Haga click en el botón que dice 'Seleccionar archivo', ahora podrá buscar su foto en su PC o su dispositivo móbil. El nombre dely haga click en el botón [Siguiente]</td>
    </tr>
    <tr>
      <td>11.-</td>
      <td>Finalizar</td>
      <td>Haga click en el botón que dice [Crop and Finish] o [Cultivos y acabado] y listo!</td>
    </tr>
  </table>
</div>
