<% provide(:title, "Ayuda") %>
    <h1>Ayuda</h1>
    <% if current_user.admin? %>
      <table class="ayuda",style="text-align:left;">
        <thead>
          <tr>
            <th>Sección</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to "Avatar", help_avatar_path %></td>
            <td>La foto de su perfil se administra en la aplicación Gravatar.com; para que aparezca su foto deberá crear una cuenta en esta aplicación.</td>
          </tr>
          <tr>
            <td><%= link_to "Relaciones", help_relations_path %></td>
            <td>Explica la forma en que las tablas de la base de datos se relacionan entre si y las consideraciones que afectan el sistema.</td>
          </tr>
          <tr>
            <td><%= link_to "Opciones", help_opciones_path %></td>
            <td>Explica las opciones que presenta el menu principal presentado en la barra superior de la aplicación.</td>
          </tr>
        </tbody>
      </table>
    <% else %>
    <table>
      <thead>
        <tr>
          <th>Sección</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to "Avatar", help_avatar_path %></td>
          <td>La foto de su perfil se administra en la aplicación Gravatar.com; para que aparezca su foto deberá crear una cuenta en esta aplicación.</td>
        </tr>
        <tr>
          <td colspan="2">Opciones del menú principal</td>
        </tr>
        <tr>
          <td>Inicio</td>
          <td>Esta opción lo lleva a la pantalla donde verá la lista de equipos que están a su cargo. Haciendo click en el nombre de alguno de los equipos le mostrará una tabla con la lista de eventos activos del equipo, podrá ver tanto eventos ya registrados como eventos por registrar, la diferencia es el ícono en la columna 'Activar'.</td>
        </tr>
        <tr>
          <td>Ayuda</td>
          <td>Podrá acceder a esta página.</td>
        </tr>
        <tr>
          <td>Cuenta</td>
          <td>Esta opción le presenta un menú con tres opciones: Perfil, Modificar Datos y Salir de Sesión.</td>
        </tr>
        <tr>
          <td>Perfil</td>
          <td>Esta opción le mostrará sus datos (avatar, email y teléfono) así como la lista de equipos que tiene asignados. Haciendo click sobre el nombre de cualquier equipo le mostrará los detalles del equipo (nombre, deporte, rama, categoría) y la lista de alumnos/jugadores registrados.</td>
        </tr>
        <tr>
          <td>Modificar Datos</td>
          <td>Esta opción mostrará una forma para modificar o simplemente ver sus datos personales (Nombre, email, teléfono) y le permitirá modificar su contraseña. No es necesario teclear la contraseña si no quiere cambiarla, si quiere cambiar la contraseña deberá escribirla dos veces para verificar que no hay errores de escritura.</td>
        </tr>
        <tr>
          <td>Salir de Sesión</td>
          <td>Esta opción terminará su sesión con la aplicación.</td>
        </tr>
      </tbody>
    </table>
    <% end %>
