<div class="center jumbotron">
  <div id="row-cont-jumbo">
    <div id="left-jumbo">
      <h1>Formando Campeones</h1>
    </div>
    <div id="right-jumbo">
      <%= image_tag "castor.gif",  size: "100x70" %>
    </div>

  </div>

  <h2>
    Administración de
    <strong>Deportes</strong>
  </h2>

  <%= link_to "Solicitar acceso", acceso_path, class: "btn btn-lg btn-primary" %>

</div>
