<div class="center jumbotron">

  <h1>Escuela de la Ciudad de Aguascalientes</h1>

  <h2>
    Administración de
    <strong>Deportes</strong>
  </h2>

  <%= link_to "Solicitar acceso", acceso_path, class: "btn btn-lg btn-primary" %>
</div>

    <p>Under construction</p>
    <p>
      <%= image_tag "underconstruction.jpg" %>
    </p>
