<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>email</th>
      <th>phone</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
