<footer class="footer">
  <small>
    Fernando Flores | <%= $luis.email %> | <%= $luis.web %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Autor", about_path %></li>
    </ul>
  </nav>
</footer>
