<!DOCTYPE html>
<html>
  <head>
    <title>Deportes ECA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      #container {
        height: 100%;
        width: 100%;
        display: inline-flex;
      }

      #left, #right {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
      }

      #left {
        width: 15%;
        background: linear-gradient(#FF0000, #8B0000);
        text-align: center;
      }

      #right {
        width: 75%;
        background: #dcdcdc;
        padding-left: 10px;
      }

      h1 {
        font: 20px arial, sans-serif;
        font-weight: bold;
        color: #fffaf0;
      }

      p {
        font: 12px arial, sans-serif;
      }

      a {
        font: 12px arial, sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
